<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>ALiaa Hassan</span></h1>
								<h3>ITI Student </h3>
								<p class="about-paddingB"></p>
						<div class="about-icons">
                            <ul >
                                <li><a href="https://www.facebook.com/profile.php?id=100022805212153"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                                <li><a href="https://twitter.com/AliaaHa83601960"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                                <li> <a href="https://myaccount.google.com/?hl=ar&utm_source=OGB&utm_medium=act&pli=1&nlr=1"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                                <li> <a href="https://www.linkedin.com/in/aliaa-hassan-21aa8822a/"><i class="fa fa-linkedin-square" style="font-size:40px"></i></a> </li>


                            </ul>





	        </div>
							</div>
						</div>
						<div class="col-md-5 col-sm-6">
							<div class="about-img">
								<img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
							</div>
						</div>
                    </div>
                </div>
            </div>
