<!doctype html>
<html lang="en">
  <head>
  	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body  >

		<div class="wrapper d-flex align-items-stretch mt-5 me-5">
			<nav id="sidebar">
				<div class="custom-menu " >
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>

        <ul class="list-unstyled components" style="margin-bottom: 50px;">
          <li class="active">
            <a href="#" routerLink="/Home" routerLinkActive="active"><span class="fa fa-home mr-3"></span> Home page</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user mr-3"></span>Admin Panal</a>
          </li>
          <li>
            <a href="#" routerLink="/Product/AddProduct" routerLinkActive="active"><span class="fa fa-sticky-note mr-3"></span>Add Product</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Subcription</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
          </li>
        </ul>

    	</nav>
    </div>
  </body>
</html>
